.bqn .numeric {
  color: #a73227;
}

.bqn .function {
  color: #3aa548;
}

.bqn .comment {
  color: #3f3daa;
}

.bqn .special {
  color: #93428b;
}

.bqn .operator {
  color: #9c7dc1;
}

.bqn [class^="punctuation"] {
  color: #862f9e;
}